<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: head">
    <meta charset="UTF-8">
    <title>Add item</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>
    <div class="row">
        <dl class="dl-horizontal"></dl>
    </div>
    <div class="row">
        <dl class="dl-horizontal"></dl>
    </div>
    <div class="row">
        <dl class="dl-horizontal"></dl>
    </div>
    <h4>Dodaj usługę/część wraz z opisem oraz kosztem:</h4>

    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">

        <form th:action="@{/admin/add_item}" method="post" th:object="${item}">

            <input th:field="*{taskId}" hidden>

            <div class="row">Name</div>
            <div class="row"><input class="col-md-6 form-control" th:field="*{name}" type="text"></div>
            <div class="row">Specification</div>
            <div class="row"><input class="col-md-6 form-control" th:field="*{details}" type="text"></div>
            <div class="row">Price</div>
            <div class="row"><input class="col-md-6 form-control" th:field="*{cost}" type="number"></div>

            <div class="row col-md-offset-4 col-md-6">
                <input type="submit" class="form-control" value="Dodaj">
            </div>


        </form>
    </div>

</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>