<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: head">
    <meta charset="UTF-8">
    <title>Task Modification</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>

    <h2>Profile:</h2>
    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">
        <form th:action="@{/admin/modify}" method="post" th:object="${task}">


            <div class="row">
                <dl class="dl-horizontal"></dl>
            </div>
            <div class="row">
                <dl class="dl-horizontal"></dl>
            </div>
            <div class="row">
                <dl class="dl-horizontal"></dl>
            </div>


            <input th:field="*{idToModify}" hidden>
            <div class="row">Time</div>
            <div class="row"><input class="form-control" type="number" th:field="*{time}"></div>
            <!--<div class="col-md-4">Cost</div>-->
            <!--<div class="col-md-6"><input class="form-control" type="number" th:field="*{cost}"></div>-->


            <div class="row offset-md-1 col-md-6">

                <input type="submit" class="form-control" value="submit">

            </div>

        </form>


    </div>
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>