<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: head">
    <meta charset="UTF-8">
    <title>Register Task</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>
    <div class="row">
        <dl class="dl-horizontal"></dl>
    </div>
    <div class="row">
        <dl class="dl-horizontal"></dl>
    </div>
    <div class="row">
        <dl class="dl-horizontal"></dl>
    </div>
    <h2>Podaj Markę, model, rocznik roweru oraz dokładny opis usterki:</h2>

    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">

        <form th:action="@{/task/add}" method="post" th:object="${added_task}" id="taskform">
            <div class="row ">

                <input class="form-control" type="number" th:field="*{userId}" th:value="*{userId}" hidden>

                <div class="row col-md-8">
                    <!--<div class="col-md-6">Opis:</div>-->
                    <div class="col-md-10">
                        <textarea rows="10" cols="150" th:field="*{description}" name="comment" form="taskform">Opis</textarea>
                    </div>
                </div>
                <div class="row col-md-offset-4 col-md-6">
                    <input type="submit" class="form-control" value="Wyślij zgłoszenie">
                </div>

            </div>
        </form>
    </div>

</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>