<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace=" template :: head">
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>

    <h2>Task:</h2>
    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">

        <div class="row">Date Added:</div>
        <div class="row" ><p th:text="${task.dateAdded}"></p></div>
        <div class="row">Description:</div>
        <div class="row" ><p th:text="${task.description}"></p></div>
        <div class="row">Estimated time in days:</div>
        <div class="row" ><p th:text="${task.time}"></p></div>
        <div class="row">Date Resolved:</div>
        <div class="row" ><p th:text="${task.dateResolved}"></p></div>
        <div class="row">Total cost in PLN:</div>
        <div class="row" ><p th:text="${cost}"></p></div>
        <div class="row">Task status:</div>
        <div class="row" ><p th:text="${task.status}"></p></div>
        <div class="row">Task owner:</div>
        <div class="row" ><p th:text="${task.owner.email}"></p></div>

        <div class="row">
            <a class="nav-link" sec:authorize="hasRole('ADMIN')" th:href="@{'/admin/add_item/'+${task.id}}">Add Item</a>
        </div>

        <div class="row">Item list:</div>
        <div class="row" >
            <div class="col-md-2">Name:</p></div>
            <div class="col-md-2">Details:</p></div>
            <div class="col-md-2">Price in PLN:</p></div>
        </div>
        <div class="row" th:each="item : ${task.items}">
            <div class="col-md-2"><p th:text="${item.name}"></p></div>
            <div class="col-md-2"><p th:text="${item.details}"></p></div>
            <div class="col-md-2"><p th:text="${item.cost}"></p></div>
            <div class="col-md-2">
                <a class="nav-link" sec:authorize="hasRole('ADMIN')"
                   th:href="@{'/admin/delete_item/'+${item.id}+'/'+${task.id}}">Delete</a>
            </div>

        </div>
    </div>


</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>