<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace=" template :: head">
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>

    <h2>Task List:</h2>
    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">

        <div class="row" th:each="task : ${tasks}">
            <div class="col-md-2"><p th:text="${task.description}"></p></div>
            <div class="col-md-2"><p th:text="${task.status}"></p></div>
            <div class="col-md-2"><p th:text="${task.owner.email}"></p></div>

            <div class="col-md-1" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" th:href="@{'/admin/modify/'+${task.id}}">Modify</a>
            </div>

            <div class="col-md-1" sec:authorize="hasRole('ADMIN')" th:if="${task.status.toString().equals('IN_PROGRESS')}">
                <a class="nav-link" th:href="@{'/admin/finish/'+${task.id}}">Finish</a>
            </div>
            <div class="col-md-1"><a class="nav-link" th:href="@{'/task/details/'+${task.id}}">Details</a></div>
            <div class="col-md-1" th:if="${task.status.toString().equals('PENDING')}">
                <a class="nav-link" th:href="@{'/task/delete/'+${task.id}}">Delete</a>
            </div>
            <div class="col-md-1" sec:authorize="!hasRole('ADMIN')" th:if="${task.status.toString().equals('TO_ACCEPT')}">
                <a class="nav-link" th:href="@{'/task/accept/'+${task.id}}">Accept</a>
            </div>
            <div class="col-md-1" sec:authorize="!hasRole('ADMIN')" th:if="${task.status.toString().equals('TO_ACCEPT')}">
                <a class="nav-link" th:href="@{'/task/delete/'+${task.id}}">Not Accept</a>
            </div>
        </div>

    </div>
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>