<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: head">
    <meta charset="UTF-8">
    <title>Register Form</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>

    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">

        <form th:action="@{/register}" method="post" th:object="${added_object}">


                <div class="row"> <dl class="dl-horizontal"></dl></div>
                <div class="row"><dl class="dl-horizontal"></dl></div>
                <div class="row"><dl class="dl-horizontal"></dl></div>
                <div class="row col-md-10">

                    <div class="col-md-4">Name</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{name}"></div>

                </div>

                <div class="row col-md-10">

                    <div class="col-md-4">Surname</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{surname}"></div>

                </div>

                <div class="row col-md-10">

                    <div class="col-md-4">Email</div>
                    <div class="col-md-6"><input class="form-control" type="email" th:field="*{email}"></div>

                </div>

                <div class="row col-md-10">

                    <div class="col-md-4">Password</div>
                    <div class="col-md-6"><input class="form-control" type="password" th:field="*{password}"></div>

                </div>

            <div class="row col-md-10">

                <div class="col-md-4">Phone Number</div>
                <div class="col-md-6"><input class="form-control" type="number" th:field="*{phone}"></div>

            </div>

                <div class="row offset-md-1 col-md-6">

                    <input type="submit" class="form-control" value="submit">

                </div>

        </form>
    </div>


</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>